Server Build - Web/L2J_Mobius_12.3_Superion/game/data/scripts/events/SecretShop/SecretShop.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:int" name="ticketId" />
				<xs:element type="xs:string" name="startTime" />
				<xs:element type="xs:string" name="endTime" />
				<xs:element name="rewards" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item" maxOccurs="unbounded" minOccurs="0">
								 <xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:int" name="id" use="optional" />
											<xs:attribute type="xs:byte" name="grade" use="optional" />
											<xs:attribute type="xs:short" name="count" use="optional" />
											<xs:attribute type="xs:short" name="totalAmount" use="optional" />
											<xs:attribute type="xs:float" name="chance" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:byte" name="day" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>