Server Build - Web/L2J_Mobius_12.3_Superion/game/data/scripts/ai/others/AetherDrops/AetherDropData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence minOccurs="1" maxOccurs="1">
				<xs:element name="npc" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="id" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:positiveInteger">
									<xs:minInclusive value="1" />
									<xs:maxInclusive value="65535" />
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="chance" type="xs:double" use="required" />
						<xs:attribute name="min" type="xs:positiveInteger" use="optional" />
						<xs:attribute name="max" type="xs:positiveInteger" use="optional" />
						<xs:attribute name="minLevel" type="xs:positiveInteger" use="optional" />
						<xs:attribute name="maxLevel" type="xs:positiveInteger" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>